
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand">
            <span>
              Urotaxi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service.html"> Services </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="news.html"> News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <section class=" slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7 ">
            <div class="box">
              <div class="detail-box">

              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="img-box">
                        <img src="https://img.freepik.com/premium-vector/three-dimensional-image-taxi-car-isolated-white-background_53876-12108.jpg?w=2000" alt="">
                      </div>
                  </div>
                </div>
              </div>

              <div class="btn-box">
                <a href="" class="btn-1">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 ">
            <div class="slider_form">
              <h4>
                Get A Taxi Now
              </h4>
              <form name ="dashBoardForm" class="dashBoardForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <select name="CarType" id="CarType" class="form-control" required #CarType="ngModel"
                [(ngModel)]="dashBoardForm.carType">
                          <option value="" disabled selected>Car Type</option>
                          <option *ngFor="let carType of carTypeService.carTypes" value='{{carType.carTypeId}}'>
                            {{carType.carType}}
                        </option>
                </select>
                &nbsp;
                <select name="Source" id="Source" class="form-control" required #Source="ngModel"
                [(ngModel)]="dashBoardForm.source">
                  <option value="" disabled selected>Pick Up Location</option>
                  <option *ngFor="let city of cityService.city" value='{{city.cityId}}'>
                    {{city.city}}
                </option>
                </select>
                &nbsp;
                <select name="Destination" id="Destination" class="form-control" required #Destination="ngModel"
                [(ngModel)]="dashBoardForm.destination">
                  <option value="" disabled selected>Drop Location</option>
                  <option *ngFor="let city of cityService.city" value='{{city.cityId}}'>
                    {{city.city}}
                </option>
                </select>
                &nbsp;
                <div class="btm_input">
                  <input type="number" name="Phone" placeholder="Your Phone Number" id="Phone" #Phone="ngModel"
                  [(ngModel)]="dashBoardForm.phone">
                  <button type="submit">Book Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>