.login {
    min-height: 460px;
  }
  
  .bg-image {
    background-image: url('https://images.pexels.com/photos/3617465/pexels-photo-3617465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  